/* HeroDetailComponent's private CSS styles */

.hero-card {
  background-color:#ffe83a;
  margin-top: 1rem;
  padding: .5rem;
  border: solid 2px black;
  width: fit-content;
  border-radius: 5px;
}

label {
    color: black;
    font-weight: bold;
  }
  input {
    font-size: 1em;
    padding: .5rem;
  }
  button {
    margin-top: 20px;
    margin-right: .5rem;
    background-color: #ffe83a;
    border: 2px solid black;
    padding: 1rem;
    border-radius: 4px;
    font-size: 1rem;
  }
  button:hover {
    background-color: rgb(218, 7, 7);
  }
  button:disabled {
    background-color: #eee;
    color: #ccc;
    cursor: auto;
  }